.btn {
  display: inline-block;
  padding: 1rem 2.2rem;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px $colour-dark;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.btn-banner {
  @extend .btn;
  background: $colour-secondary;

  &:hover {
    background: $colour-primary;
    color: white;
  }
}

.btn-green {
  @extend .btn;
  background: $colour-primary;

  &:hover {
    background: $colour-secondary;
    color: white;
  }
}

#logout {
  background: black;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  max-width: 200px;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    margin-left: 8px;
    margin-right: 0;
  }

  &:hover {
    background: white;
    color: $colour-secondary;
    border: 1px solid $colour-secondary;
  }
}
