@font-face {
  font-family: "futura PT medium";
  src: url(../../fonts/FuturaPTMedium.otf);
}

@font-face {
  font-family: "futura PT bold";
  src: url(../../fonts/FuturaPTBold.otf);
}

@font-face {
  font-family: "futura PT light";
  src: url(../../fonts/FuturaPTLight.otf);
}

$colour-secondary: #DE970B;
$colour-primary: #88b2aa;
$colour-dark: black;
$colour-grey: #808077;
$colour-light: #edf3e9;

$theme-colors: (
  "primary": $colour-primary,
  "dark": $colour-dark,
  "light": $colour-light,
);

$input-bg: white;
$input-border-color: $colour-grey;

$font-family-base: "verdana", sans-serif;
$headings-font-family: "futura PT bold", serif;
$headings-color: $colour-grey;

$body-bg: white;
$body-color: $colour-grey;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
);
