html,
body {
    height: 100%;
}

body {
    font-family: $font-family-base;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    padding: 2rem 0;
}

.wrapper {
    flex: 1 0 auto;
}