@mixin alert-message($color) {
  color: white;
  background: $color;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  i {
    font-size: 1.5rem;
  }
}

.warning {
  @include alert-message(darkred);
}

.success {
  @include alert-message($colour-primary);
}
