.top-navbar {
  background: $colour-dark;
  color: white;
  font-style: italic;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.2rem;
}

.nav-link__mobile {
  @include media-breakpoint-up(lg) {
    display: none;
  }
  padding-left: 0;
  position: relative;
}

.nav-link__cart span {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.fa-bag-shopping {
  font-size: 1.7rem;
}

.fa-user {
  font-size: 1.4rem;
}

.basket-count {
  position: absolute;
  font-size: 0.8rem;
  color: white;
  top: 24px;
  left: 2.5px;
  text-align: center;
  width: 17px;

  @include media-breakpoint-up(lg) {
    left: 11px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  gap: 1rem;

  @include media-breakpoint-up(lg) {
    gap: 2rem;
  }
}

.navbar {
  @include media-breakpoint-up(lg) {
    padding: 1rem 0;
  }
}

.navbar-brand {
  margin: 0;
}

.nav-link {
  color: $colour-grey;
  font-size: 1.6rem;
  position: relative;
  font-family: "futura PT medium";
}

.nav-link.active,
.nav-link:hover {
  color: $colour-secondary !important;
}

.nav-item__margin {
  @include media-breakpoint-up(lg) {
    margin-right: 4rem;
  }
}

.nav-item__login {
  border: 2px solid $colour-primary;
  width: 100%;
  text-align: center;

  a {
    padding: 0 1.5rem !important;
  }

  &:hover {
    border-color: $colour-secondary;
  }
}
