@font-face {
    font-family: "futura PT medium";
    src: url(../../fonts/FuturaPTMedium.otf);
}

@font-face {
    font-family: "futura PT bold";
    src: url(../../fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "futura PT light";
    src: url(../../fonts/FuturaPTLight.otf);
}